@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*======== Varibales definidas y Estilos normalizados ==== */
:root {
  --header-heigth: 3rem;

  --color-principal: 215;
  --color-fondo: hsla(var(--color-principal), 50%, 30%, 0.85);
  --color-otro: hsla(var(--color-principal), 70%, 50%);
  --color-botones: hsl(var(--color-principal), 80%, 30%);
  --color-titulo-h1: hsl(var(--color-principal), 80%, 20%);
  --color-titulo-h2: hsl(var(--color-principal), 35%, 45%);
  --color-texto: hsl(var(--color-principal), 20%, 30%);
  --color-texto-btn: hsl(var(--color-principal), 10%, 85%);
  --color-body: hsl(100, 55%, 100%);

  --tletra-grande: 2rem;
  --tletra-titulo-h1: 1.5rem;
  --tletra-titulo-h2: 1.25rem;
  --tletra-titulo-h3: 1.12rem;
  --letra-normal: 0.9rem;
  --letra-pequeña: 0.75rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-heigth) 0;
  font-family: "Poppins", sans-serif;
  font-size: var(--letra-normal);
  background-color: var(--color-body);
}

h1,
h2,
h3,
h4 {
  color: var(--color-titulo-h1);
  font-weight: 500;
}
p {
  color: var(--color-texto);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.section {
  padding: 2rem 0 4rem;
  border-bottom: 1px solid var(--color-texto-btn);
}
.section__title {
  font-size: var(--tletra-titulo-h1);
  color: var(--color-titulo-h1);
}
.section__subtitle {
  display: block;
  font-size: var(--tletra_titulo-h2);
  color: var(--color-titulo-h2);
  margin-bottom: 3rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}

/* ======================================================== */
/* =======================  LAYAOUT  ================= */

.container {
  max-width: 768px;
  margin: 0 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-body);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.25);
  padding: 5px;
}

/* =========== Barra Navegacion =====================*/
.nav {
  max-width: 968px;
  height: var(--header-heigth);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}

.nav__logo,
.nav__toggle {
  color: var(--color-titulo-h2);
  font-size: var(--tletra-titulo-h3);
}

.nav__logo {
  outline: 1px solid var(--color-fondo);
  padding: 0 3px;
  border-radius: 50%;
}

.nav__logo span {
  color: var(--color-titulo-h1);
  font-weight: bold;
}

.nav__logo:hover {
  outline: 2px solid var(--color-botones);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--color-titulo-h1);
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--letra-pequeña);
  font-weight: 400;
  color: var(--color-botones);
}

.nav__link:hover {
  color: var(--color-fondo);
  font-weight: 500;
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-botones);
}

.nav__close:hover {
  color: var(--color-titulo-h1);
}

.show-menu {
  bottom: 0;
}

.active-link {
  color: var(--color-otro);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
}

/* ========== HOME =========================*/
.home {
  height: 95vh;
  border-bottom: 1px solid var(--color-texto-btn);
}
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.3rem;
  color: var(--color-botones);
  opacity: 0.5;
  outline: 1px solid var(--color-texto-btn);
  padding: 0 3px;
  transition: all 0.1s linear;
}

.home__social-icon:hover {
  color: var(--color-botones);
  opacity: 1;
  outline: 2px solid var(--color-botones);
}

.home__container-img {
  width: 250px;
  height: 250px;
  background-color: var(--color-fondo);
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.home__img {
  width: 85%;
}

.home__data {
  grid-column: 1/3;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.home__title {
  color: var(--color-titulo-h1);
  font-size: var(--tletra-titulo-h1);
  font-weight: 600;
}
.home__subtitle {
  font-size: var(--tletra-titulo-h3);
  color: var(--color-titulo-h2);
  font-weight: 500;
  font-weight: bold;
}

.home__descripcion {
  color: var(--color-texto);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--color-botones);
  transition: 0.3s;
}

.home__scroll-button:hover {
  color: var(--color-texto);
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 1.5rem;
}

.home__scroll-name {
  font-size: var(--letra-normal);
  font-weight: 500;
  margin-right: 0.25rem;
}

.home__scroll-arrow {
  font-size: 1.3rem;
}

/*======= Botones ==============*/

.button {
  display: inline-block;
  background-color: var(--color-botones);
  color: var(--color-texto-btn);
  padding: 0.7rem;
  border-radius: 0.5rem;
  font-weight: 500;
  box-shadow: 2px 3px 4px var(--color-titulo-h1);
  transition: all 0.2s linear;
  margin-top: 10px;
}

.button:hover {
  background-color: var(--color-titulo-h1);
  box-shadow: 3px 4px 6px var(--color-titulo-h2);
}
.button__icon {
  font-size: 1rem;
}

/*============= ABOUT ===============================*/
.about {
  height: 100vh;
}
.about__container {
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.about__container-img {
  width: 200px;
  height: 200px;
  background-color: var(--color-fondo);
  border-radius: 1rem;
}

.about__info {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.about__info-title {
  font-size: var(--tletra-titulo-h2);
  color: var(--color-titulo-h1);
  font-weight: 500;
}

.about__description {
  text-align: center;
}

/*==========  Skills ========================== */
.skills__container {
  row-gap: 2.5rem;
}

.others {
  grid-template-columns: 1fr 1fr 1fr;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--color-botones);
}

.skills__icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.skills__title {
  font-size: var(--tletra-titulo-h3);
}

.skills__subtitle {
  font-size: var(--letra-pequeña);
  color: var(--color-titulo-h2);
}

.skills__number {
  color: var(--color-titulo-h1);
}

.skills__arow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list {
  row-gap: 1rem;
  padding-left: 3rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__name {
  font-size: var(--letra-normal);
  font-weight: 500;
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--color-texto-btn);
}

.skills__percentage {
  display: block;
  background-color: var(--color-botones);
}

.skills__html {
  width: 60%;
}

.skills__js,
.skills__react {
  width: 70%;
}

.skills__node {
  width: 80%;
}

.skills__express,
.skills__sequelize {
  width: 75%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: 1rem;
}

.skills__list {
  transition: all 0.3s;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/*==========  Portfolio ========================== */

.tech {
  grid-template-columns: 1fr 1fr 1fr;
}

.tech li {
  color: var(--color-texto);
  font-weight: 500;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 295px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio__title {
  font-size: var(--letra-normal);
  margin-bottom: 0.5rem;
}

.portfolio__description {
  margin-bottom: 0.75rem;
}

.portfolio__button:hover {
  transform: translateX(0.2rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--color-botones);
}

.swiper-button-prev {
  left: -0.7rem;
}

.swiper-button-next {
  right: -0.7rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-botones);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}

/*==========  Portfolio ========================== */
.contact__container {
  row-gap: 3rem;
}

.portfolio__content img {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.contact__information {
  display: flex;
  margin-bottom: 0.5rem;
}

.contact__icon {
  font-size: 2rem;
  color: var(--color-botones);
  margin-right: 0.75rem;
}

.contact__title {
  font-size: var(--tletra-titulo-h3);
  font-weight: 500;
}

.contact__subtitle {
  font-size: var(--letra-normal);
  color: var(--color-titulo-h2);
}

/*==========  Footer ========================== */

.footer__container {
  row-gap: 3rem;
}

.footer__bg {
  background-color: var(--color-botones);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--tletra-titulo-h3);
  margin-bottom: 0.3rem;
}

.footer__subtitle {
  font-size: var(--letra-normal);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--color-botones);
}

.footer__social {
  font-size: 1.3rem;
  margin-right: 1.5rem;
}

.footer__social:hover {
  color: var(--color-otro);
}

.footer__copy {
  font-size: var(--letra-pequeña);
  text-align: center;
  color: var(--color-otro);
  margin-bottom: 2rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: var(--color-body);
}

/*==========  Scroll Up ========================== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--color-botones);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: 10;
  transition: 0.3s;
}

.scrollup:hover {
  background-color: var(--color-otro);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

.show-scroll {
  bottom: 5rem;
}

/*==== Small Devices =====*/
@media screen and (max-width: 350px) {
  .container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .nav__menu {
    padding: 2rem 0.25rem 3rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .skills__title {
    font-size: var(--letra-normal);
  }

  .about__info {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .about__info {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }

  .about__buttons {
    position: absolute;
    bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .about__info {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
  }
}

/*==== Mediums Devices =====*/

@media screen and (min-width: 568px) {
  .home {
    height: 75vh;
    margin-top: var(--header-heigth);
  }

  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 1;
    justify-self: center;
  }

  .about__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .home {
    height: 85vh;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .portfolio__container {
    padding-bottom: 3rem;
  }

  .portfolio__img {
    width: 320px;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-heigth) + 1.5rem);
    column-gap: 0 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    padding-top: 5rem;
    column-gap: 2rem;
  }

  .about__container {
    column-gap: 5rem;
  }

  .about__container-img {
    width: 350px;
    height: 220px;
    text-align: center;
  }

  .about__container-img img {
    width: 50%;
  }

  .about__description {
    text-align: initial;
  }

  .about__info {
    justify-content: space-between;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__social {
    justify-self: flex-end;
  }

  .footer__copy {
    margin-top: 4rem;
  }
}

/*==== Large Devices =====*/
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__social {
    transform: translateX(-6rem);
  }

  .portfolio__container {
    padding-bottom: 4rem;
  }

  .portfolio__content {
    column-gap: 5rem;
  }

  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }

  .swiper-button-prev {
    left: -3.7rem;
  }

  .swiper-button-next {
    right: -3.7rem;
  }
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--color-body);
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0 0;
    transition: all 0.4s ease;
    padding: 15px 0;
  }

  .show-menu {
    bottom: 0;
    transition: all 0.4s linear;
  }
}

@media screen and (min-width: 968px) {
  :root {
    --letra-grande: 3rem;
    --tletra-titulo-h1: 2.25rem;
    --tletra-titulo-h2: 1.5rem;
    --tletra-titulo-h3: 1.25rem;
    --letra-normal: 1rem;
    --letra-pequeña: 0.87rem;
  }
  .show-menu {
    bottom: 0;
    transition: all 0.4s linear;
  }

  .home__container {
    padding-top: 4rem;
  }

  .home__data {
    gap: 2rem;
  }

  .about__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .about__buttons {
    width: 140px;
  }
}
